<nav aria-labelledby="siteid" class="tdbc-sitenav">
  <div class="tdbc-sitenav__container">
    <a id="tdbc-siteid" href="/">{{ meta.siteName }}</a>
    <ul class="tdbc-sitenav__navlist tdbc-list-unstyled">
      {%- for entry in collections.all | eleventyNavigation %}
        <li>
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </div>
</nav>
