$jlok-color-primary: #2364AA !default;
$jlok-color-secondary: #C95D63 !default;
$jlok-color-background: #f9f9f9;

$jlok-brand-colors: (
  primary: $jlok-color-primary,
  secondary: $jlok-color-secondary,
) !default;

$jlok-color-body: scale-color($jlok-color-primary, $lightness: -30%, $saturation: -50%) !default;
$jlok-color-medium: mix(#767676, $jlok-color-body, 70%) !default;

$jlok-colors: map-merge(
  $jlok-brand-colors,
  (
    text: $jlok-color-body,
    background: $jlok-color-background,
    light: #fff,
    dark: rgba(black, 0.87),
    medium: $jlok-color-medium,
  )
);

@function jlok-color($key) {
  @if map-has-key($jlok-colors, $key) {
    @return map-get($jlok-colors, $key);
  }

  @warn "Unknown `#{$key}` in $jlok-colors.";
  @return null;
}

// Add/remove to selectively generate `ink` (text color) classes
$jlok-ink-colors: primary, secondary, text, medium, light, dark !default;

// Add/remove to selectively generate `background` (text color) classes
$jlok-background-colors: primary, secondary, background, medium, light !default;

$jlok-button-variants: primary, secondary, light, medium !default;
$jlok-link-color: jlok-color(primary) !default;
$jlok-border-radius: 8px !default;

$jlok-font-family: "MavenPro", sans-serif;
$jlok-monospace-font-family: "Inconsolata", monospace;
$jlok-strong-font-weight: 500 !default;
$jlok-strong-vf-weight: 480 !default;
$jlok-h1-font-size: 4.2rem !default;
$jlok-h2-font-size: 3.15rem !default;
$jlok-h3-font-size: 2rem !default;
$jlok-h4-font-size: 1.35rem !default;
$jlok-text-font-size: 1.15rem !default;
$jlok-lead-font-size: 1.35rem !default;

$jlok-spacing: (
  sm: 1rem,
  md: 3rem,
  lg: 6rem,
  xl: 10rem,
  auto: "auto",
) !default;
