.jlok-content-maxlength {
  max-width: 80ch;
}

.jlok-anchor {
  display: inline-block;
  margin-left: 0.25em;
  transition: 180ms opacity ease-in-out;
  opacity: 0.6;
  font-size: 0.65em;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }
}

$jlok-alignments: left, center, right !default;

@each $alignment in $jlok-alignments {
  .jlok-text-align--#{$alignment} {
    text-align: #{$alignment};

    @if ($alignment == "center") {
      > a {
        align-self: center !important;
      }
    }
  }
}

@each $key in $jlok-background-colors {
  .jlok-background--#{$key} {
    background-color: jlok-color($key);
  }
}

@each $key in $jlok-ink-colors {
  .jlok-ink--#{$key},
  a.jlok-ink--#{$key} {
    color: jlok-color(#{$key});
  }

  .jlok-ink--#{$key} > a:not(.jlok-button) {
    color: inherit;
  }
}

.jlok-mx-auto {
  margin-right: auto;
  margin-left: auto;
}

@each $key, $unit in $jlok-spacing {
  .jlok-my-#{$key} {
    margin-top: $unit;
    margin-bottom: $unit;
  }

  .jlok-mt-#{$key} {
    margin-top: $unit;
  }

  .jlok-ml-#{$key} {
    margin-left: $unit;
  }

  .jlok-mr-#{$key} {
    margin-right: $unit;
  }
}

.jlok-mb-none {
  margin-bottom: 0;
}
