@font-face {
  font-family: "MavenPro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/mavenpro-vf-latin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "MavenPro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/mavenpro-vf-latin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: normal;
  src: local("Inconsolata Regular"), local("Inconsolata-Regular"),
    url("../fonts/inconsolata-vf-lagin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 500;
  src: local("Inconsolata Medium"), local("Inconsolata-Medium"),
    url("../fonts/inconsolata-vf-lagin.woff2") format("woff2");
  font-display: swap;
}

@import "theme";
@import "reset";
@import "layout";
@import "sitenav";
@import "typography";
@import "buttons";
@import "card";
@import "prism";
@import "utilities";
