---
layout: layouts/base.njk
---
{% include 'sitenav.njk' %}

<header class="jlok-hero">
  <div class="jlok-container">
    <h1 class="jlok-ink--primary jlok-mb-none">{{ title }}</h1>
    <h2 class="jlok-lead jlok-content-maxlength jlok-ink--medium jlok-mt-md jlok-mx-auto">
      {{ description }}
    </h2>
  </div>
</header>
<main class="jlok-container">
  <article class="jlok-mx-auto">
    {{ content | safe }}
  </article>
</main>
