---
title: "Archive"
description: "See all past posts"
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
date: 2020-05-02
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
