---
permalink: functions/template.html
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap"
      rel="stylesheet"
    />
    {% set css %} {% include "src/css/social-previews.css" %} {% endset %}
    <style>
      {{ css | safe }}
    </style>
  </head>
  <body>
    <header class="jlok-hero jlok-text-align-center">
      <div class="jlok-container jlok-content-maxlength">
        <h1 class="jlok-ink--primary jlok-mb-none jlok-mlg"></h1>
        <p class="jlok-lead jlok-ink--medium jlok-mt-md jlok-mb-none">
          <span><em>Published on</em> <strong class="jlok-ink--secondary">{{ meta.siteName }}</strong></span>
        </p>
      </div>
    </header>
  </body>
</html>
